/* ==============ЦВЕТА============ */
:root {
    --black: #000;
    --level-1: #181823;
    --white: #fff;
    --purple: #5221e6;
    --light-grey: #8491a0;
    --dark-grey: #5b6876;
    --green-accent: #3cc74e;
    --blue-accent: #609bff;
    --pink-accent: #e95d90;
    --peach-accent: #fff3e4;
    --violet-accent: #fbe4ff;
}

/* =============ШРИФТ============= */
:root {
    --font-family: "Sen", sans-serif;
}



/* =============СБРОС СТИЛЕЙ====== */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    /* это добавил что after в секции hero не сужалось при адаптиве что то возможно лишнее */

    position: relative;
    overflow-x: clip;
    /* ================ */

    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    scroll-behavior: smooth;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

a, button {
    color: inherit;
    -webkit-tap-highlight-color: #00000000;
}

address {
    font-style: normal;
}

/* основной цвет фона */

.body {
    background-color: var(--black);
    /* это добавил что after в секции hero не сужалось при адаптиве что то возможно лишнее */


}

.bg {
    background: url(img/bad-santa.jpg) no-repeat center fixed;
}


/* ЗАГАЛОВКИ */
h1 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 78px;
    color: var(--white);
}

h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 55px;
    color: var(--white);
}

h3 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: var(--white);
}

h4 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: var(--light-grey);
}


/* ТЕКСТ */
.text-large {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--white);
}

.text-small {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--light-grey);
}


/* ССЫЛКИ */
a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--level-1);
}



/* КОНТЕЙНЕР */
.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

.main {
    /* ЭТО ЧТОБ MAIN И FOTTER ПРИКЛЕИЛИСЬ ВЕРХ(MAIN) И ВНИЗ(FOTTER) */
    flex-grow: 1;
}

.container {
    max-width: 1326px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}


/* классы цветов */
.cl-white {
    color: var(--white);
}

.cl-light-grey {
    color: var(--light-grey);
}

.cl-dark-grey {
    color: var(--dark-grey);
}

.cl-black {
    color: var(--level-1);
}

/* анимации */
.hover :hover {
    background: var(--purple);
}

.transition {
    transition: 0.4s;
}

.letter__title {
    padding-top: 30px;
    padding-bottom: 30px;
}





.header {
    padding-bottom: 500px;
}

.main {}

.flex {
    display: flex;
    justify-content: center;
}


.letter {

    background: #f7dbab;
}

.letter-section {
    padding-top: 500px;
}

.inner {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 0px 50px 50px;
    max-width: 700px;
}


.letter-section {}


.letter__text {
    padding-bottom: 30px;
}
.text-large {
}
.cl-dark-grey {
}
.letter__list {
    margin-bottom: 20px;
    max-width: 400px;
border: 2px solid #000;
border-radius: 20px;
padding: 20px;

}
.letter__item {
}
.letter__li {
    color: #000;
    padding-bottom: 10px;
}
.letter__li span{
    color: #990505;

}



